.outer{
    border: 5px solid black;
    height: 500px;
    padding: 25px;
}
.inner{
    border: 25px solid rgb(2, 2, 193);
    text-align: center;
    align-content: center;
    margin-top: 90px;
    background-color: rgb(239, 239, 100);
    height: 300px;
    /* padding: 10px; */
    font-size: 35px;
}
