.container{
    border: 2px solid black;
    height: 300px;
    width: 700px;
    margin: auto;
    padding: 8px;
    background-color: rgb(226, 32, 251);
}
img{
    height: 200px;
    float: left;
    margin-right: 10px;
}