.container{
    border: 2px solid black;
    height: 300px;
    width: 700px;
    margin: auto;
    padding: 8px;
    background-color: rgba(250, 118, 230, 0.673);
    margin-bottom: 15px;
}
img{
    height: 200px;
    float: left;
    margin-right: 10px;
}
footer{
    clear: both;
    background-color: gainsboro;
    text-align: center;
    margin-top: 2px;
}