.container{
    display: grid;
    height: 450px;
    width: 1000px;
    background-color: blueviolet;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* justify-items: center;
    align-items: center; */
    place-items: center;
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
}

.item{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}
/* .item1{
    grid-area: header;
    grid- column 1/2;
    grid-row: 2/1;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */